a {
  color: #616f39;
  font-family: 'Roboto Slab', serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #40514E;
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  color: #616f39;
  font-size: 5.625rem;
  margin: 0 auto;
  font-family: "Sacramento";
}

h2 {
  color: #616f39;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #40514E;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5rem;
}

hr {
  border: dotted #f8f1f1 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

p {
  line-height: 2;
}

.top-container {
  background-color: #feffdb;
  position: relative;
  padding-top: 100px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.middle-container {
  margin: 100px 0;
}

.profile {
  width: 30%;
  margin: auto;
}

.profilepic {
  width: 30%;
  height: 7%;
  border-radius: 50%;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #616f39;
  background-image: -webkit-linear-gradient(top, #616f39, #40514E);
  background-image: -moz-linear-gradient(top, #616f39, #40514E);
  background-image: -ms-linear-gradient(top, #616f39, #40514E);
  background-image: -o-linear-gradient(top, #616f39, #40514E);
  background-image: linear-gradient(to bottom, #616f39, #40514E);
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: 'Quicksand', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  color: #ffffff;
  background: #345c12;
  text-decoration: none;
}
.codingpic {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.designpic {
  border-radius: 50%;
  float: left;
  width: 25%;
  margin-right: 30px;
}

.bottom-container {
  background-color: #feffdb;
  padding: 50px 0 20px;
}

.copyright {
  color: #40514E;
  font-size: 0.75rem;
  padding: 20px 0;
}
